<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar" role="navigation" aria-label="main navigation" th:fragment="header">
    <div class="navbar-brand">
        <a class="navbar-item" th:href="@{/}">
            <div class="logo">
                <figure class="image is-32x32">
                    <img th:src="@{/images/icon.png}">
                </figure>
                <span class="is-size-4">E-Registrar</span>
            </div>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" th:href="@{/}">
                Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable" th:href="@{~/student/list}">
                <a class="navbar-link">
                    Students
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" th:href="@{~/student/list}">
                        Student list
                    </a>
                    <a class="navbar-item" th:href="@{~/student/new}">
                        Add new student
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Courses
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" th:href="@{~/course/list}">
                        Course list
                    </a>
                    <a class="navbar-item" th:href="@{~/course/new}">
                        Add new course
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>